@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --radius: 0.625rem;
  --slate-900: #0F172A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Inter, -apple-system, Roboto, Helvetica, sans-serif;
}
